:root{
--primary-text-color: #212121;
--primary-text-color-logo: #000000;
--primary-bg-color: #2F303A;
--title-text-color: #FFFFFF;
--title-bg-color: #F5F5F5;
--accent-color: #2196F3;
--header-bg: #ECECEC;
--text-footer: #757575;
}
/* Index html*/
body{
    color: var(--primary-text-color);
    background-color: var(--title-bg-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* Logo */
.logo{
    color: var(--primary-text-color-logo);
    font-family: Raleway,serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration-line: none;
}
.logo-down{
    color: var(--title-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.color-name {
    color: var(--accent-color);
}
/* header */
.page-header {
   background-color: var(--header-bg);
}
/* Герой */
.hero-color {
    background-color: var(--primary-bg-color);
}
.hero-color-text{
    color: var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* точки */
ul{
    list-style: none;
}
/* site nav */
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration-line: none;
}
.site-nav .link.current {
    color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}
.section-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Main */
.title{
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.title-own{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-footer);
}
.section-comand{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Workers */
.workers{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.workers-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--text-footer);
}
/* Контакти */
.contacts-up{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-tel,
.contacts-mail {
    color: var(--text-footer);
    text-decoration-line: none;
}
.contacts-mail:hover,
.contacts-mail:focus{
    color: var(--accent-color);
}
.contacts-tel:hover,
.contacts-tel:focus{
    color: var(--accent-color);
}
.contacts-down .mail {
    color: rgba(255, 255, 255, 0.6);
}
.contacts-down .tell {
    color: rgba(255, 255, 255, 0.6);
}
/* feature-list */
.feature-list, .title{
    color: var(--primary-text-color);
}
/* Усі найменування */
.working-prog {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
/* приклади робіт */
.examples{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples-text{
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-footer);
}
/* .work-list, . title{

} */
/* button */
.button-pay {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.button{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Portfolio html */
.working-prog:hover,
.working-prog:focus{
    color: var(--title-text-color);
    background-color: var(--accent-color);
}
/*  footer  */
.footer{
    background-color: #2F303A;
}
.address-down{
    text-decoration-line: none;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}
.address{
    text-decoration-line: none;
    color: rgba(255, 255, 255, 0.6); 
    font-family: 'Roboto';
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.03em;

    
}